{# Cannot_delete template #}
<br />
<center>{{ lang('maynot_delete') }}</center>
<br />
<a href='{{ link_go_back }}'>{{ lang('go_back') }}</a>
<center>
 <table>
 	<tr>
		<td>{{ lang('application') }}</td><td>{{ lang('reason') }}</td>
	</tr>
 {% block apps %}
 	<tr>
		<td>{{ appname }}</td><td>{{ reason }}</td>
	</tr>
{% endblock %}
 </table>


</center>
<a href='{{ link_go_back }}'>{{ lang('go_back') }}</a>
