{# Comm_data template #}
<table>
  <tbody>
    <tr>
      <td>
		<table>
		<tbody>
			<th> {{ lang('Email Type') }} </th>
			<tr>
			<td> {{ lang('Home') }} </td>
			<td><input type="text" name="home"></td>
			<td> {{ lang('Home3') }} </td>
			<td><input type="text" name="home"></td>
			</tr>
			<tr>
			<td> {{ lang('Work') }} </td>
			<td><input type="text" name="work"></td>
			<td> {{ lang('School') }} </td>
			<td><input type="text" name="school"></td>
			</tr>
			<tr>
			<td> {{ lang('School') }} </td>
			<td><input type="text" name="school"></td>
			<td> {{ lang('Yahoo') }} </td>
			<td><input type="text" name="yahoo"></td>
			</tr>
			<tr>
			<td> {{ lang('Home 2') }} </td>
			<td><input type="text" name="home2"></td>
			</tr>
			<tr>
			<td> {{ lang('Yahoo') }} </td>
			<td><input type="text" name="yahoo"></td>
			</tr>
		</tbody>
		</table>
	  </td>
      <td>
	  </td>
    </tr>
    <tr>
      <td>
		<table>
		<tbody>
			<th> {{ lang('Phone Type') }} </th>
			<tr>
			<td> {{ lang('Home') }} </td>
			<td><input type="text" name="home"></td>
			<td> {{ lang('Home3') }} </td>
			<td><input type="text" name="home"></td>
			</tr>
			<tr>
			<td> {{ lang('Work') }} </td>
			<td><input type="text" name="work"></td>
			<td> {{ lang('School') }} </td>
			<td><input type="text" name="school"></td>
			</tr>
			<tr>
			<td> {{ lang('School') }} </td>
			<td><input type="text" name="school"></td>
			<td> {{ lang('Yahoo') }} </td>
			<td><input type="text" name="yahoo"></td>
			</tr>
			<tr>
			<td> {{ lang('Home 2') }} </td>
			<td><input type="text" name="home2"></td>
			</tr>
			<tr>
			<td> {{ lang('Yahoo') }} </td>
			<td><input type="text" name="yahoo"></td>
			</tr>
		</tbody>
		</table>
	  </td>
      <td>
	  </td>
    </tr>

  </tbody>
</table>