{# Line_format_de template #}
<!-- $Id$ -->

<table border="0" cellpadding="2" cellspacing="2">
	<tr>
		<td><font face="{{ font }}" size="{{ fontsize }}">{{ company }}&nbsp;Ḟ&nbsp;{{ street }}&nbsp;Ḟ&nbsp;{{ zip }}&nbsp;{{ city }}{{ county }}</font></td>
	</tr>
</table>
