<h1>NB!! KOPI av epost til {{ contact_email }}</h1>
<p>Ny søknad i {{ systemname }} om leie/lån av {{ resourcename }} på {{ building_name }}</p>
<p>{{ mail_created|safe_html }}</p>
<p>Forresten...:<br/>
<a href="{{ link_backend }}">Link til søknad i backend</a></p>
<p>{{ signature|safe_html }}</p>
