{# Error log view template #}

{% block list %}

	<table class="pure-table">
		<form class='pure-form' method='POST' action=''>
			<tr>
				<td style="text-align: left;" colspan="2">
					<input id="date" name="date" onchange="this.form.submit();" value="{{ value_date }}"/>
				</td>
				<td style="text-align: right;" colspan="2">
					{{ select_user|raw }}
				</td>
			</tr>
		</form>
		<tr>
			{{ nextmatchs_left|raw }}&nbsp;{{ nextmatchs_right|raw }}
		</tr>
	</table>
	{{ showing|raw }}

	<table id="admin_error_log_list" class="pure-table">
		<thead>
			<tr>
				<th>{{ lang('time') }}</th>
				<th>{{ lang('LoginID') }}</th>
				<th>{{ lang('module') }}</th>
				<th>{{ lang('severity') }}</th>
				<th>{{ lang('file') }}</th>
				<th>{{ lang('line') }}</th>
			</tr>
			<tr>
				<td></td>
				<td colspan="5">{{ lang('log message') }}</td>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="6" align="left">{{ footer_total }}</td>
			</tr>
		</tfoot>
		<tbody>
			{{ rows_access|raw }}
		</tbody>
	</table>
	{{ purge_log_button|raw }}

{% endblock %}

{% block row %}
	<tr class="{{ tr_class }}">
		<td>{{ row_date }}</td>
		<td>{{ row_loginid }}</td>
		<td>{{ row_app }}</td>
		<td>{{ row_severity }}</td>
		<td>{{ row_file }}</td>
		<td>{{ row_line }}</td>
	</tr>
	<tr class="{{ tr_class }}">
		<td>&nbsp;</td>
		<td colspan="5">
			<pre>{{ row_message }}</pre>
		</td>
	</tr>
{% endblock %}

{% block row_empty %}
	<tr class="{{ tr_class }} row_empty">
		<td colspan="6">{{ row_message }}</td>
	</tr>
{% endblock %}
