{# Changepassword template #}
<br>

   <center>{{ messages }}</center>

   <form method="POST" action="{{ form_action|raw }}">
    <table border="0">
     <tr>
       <td>
        {{ lang('enter_password') }}
       </td>
       <td>
        <input type="password" name="n_passwd" autocomplete="off"
			   readonly="readonly" onfocus="this.removeAttribute('readonly');"/>
       </td>
     </tr>
     <tr>
       <td>
        {{ lang('reenter_password') }}
       </td>
       <td>
        <input type="password" name="n_passwd_2" autocomplete="off"
			   readonly="readonly" onfocus="this.removeAttribute('readonly');"/>
       </td>
     </tr>
     <tr>
       <td colspan="2">
        <table cellspacing="5"><tr>
         <td><input type="submit" name="change" value="{{ lang('change') }}"></td>
         <td><input type="submit" name="cancel" value="{{ lang('cancel') }}"></td>
        </tr></table>
       </td>
     </tr>
    </table>
   </form>
   <br>
   <pre>{{ sql_message }}</pre>
