{# Applications template #}

{% block header %}
<script type="text/javascript">
function check_all(strTargetAction)
{
  var elms = document.getElementById('apps').getElementsByTagName('input');
  var iElmsLen = elms.length;
  var iTALen = strTargetAction.length
  for ( var i = 0; i < iElmsLen; ++i)
  {
    if (elms.item(i).type == "checkbox" && elms.item(i).name.substring(0, iTALen) == strTargetAction)
    {
      if (elms.item(i).checked)
      {
        elms.item(i).checked = false;
      }
      else
      {
        elms.item(i).checked = true;
      }
    } 
  }
}
</script>
<h1>{{ description }}</h1>
{% endblock %}

{% block app_header %}
<form action="../setup/applications" method="post" id="apps">
<table id="apps">
	<thead>
		<tr class="th">
			<td colspan="2">{{ app_info }}</td>
			<td>{{ app_status }}</td>
			<td>{{ app_currentver }}</td>
			<td>{{ app_version }}</td>
			<td class="checkcell">
				{{ app_install }}<br>
				<a href="javascript:check_all('install')"><img src="../src/modules/phpgwapi/templates/base/images/{{ check }}" title="{{ install_all }}" alt="{{ install_all }}"></a>
			</td>
			<td class="checkcell">
				{{ app_upgrade }}<br>
				<a href="javascript:check_all('upgrade')"><img src="../src/modules/phpgwapi/templates/base/images/{{ check }}" title="{{ upgrade_all }}" alt="{{ upgrade_all }}"></a>
			</td>
			<td>{{ app_resolve }}</td>
			<td class="checkcell">
				{{ app_remove }}<br>
				<a href="javascript:check_all('remove')"><img src="../src/modules/phpgwapi/templates/base/images/{{ check }}" title="{{ remove_all }}" alt="{{ remove_all }}"></a>
			</td>
		</tr>
	</thead>
	<tbody>
{% endblock %}

{% block apps %}
	<tr class="{{ bg_class }}">
		<td class="appicon"><a href="applications?detail={{ appname }}"><img src="../src/modules/phpgwapi/templates/base/images/{{ instimg }}" alt="{{ instalt }}" title="{{ instalt }}" border="0"></a></td>
		<td><strong>{{ appname }}</strong></td>
		<td>{{ appinfo|raw }}</td>
		<td>{{ currentver|raw }}</td>
		<td>{{ version|raw }}</td>
		<td class="{{ row_install }} checkcell">{{ install | raw }}</td>
		<td class="{{ row_upgrade }} checkcell">{{ upgrade | raw }}</td>
		<td class="checkcell">{{ resolution|raw }}&nbsp;</td>
		<td class="{{ row_remove }} checkcell">{{ remove | raw }}</td>
	</tr>
{% endblock %}

{% block detail %}
	<li>
		<strong>{{ name }}</strong><br>
		{{ details|raw }}
	</li>
{% endblock %}

{% block table %}
  <tr bgcolor="{{ bg_color }}">
    <td>{{ tables }}</td>
  </tr>
{% endblock %}

{% block hook %}
  <tr bgcolor="{{ bg_color }}">
    <td>{{ hooks }}</td>
  </tr>
{% endblock %}

{% block dep %}
  <tr bgcolor="{{ bg_color }}">
    <td>{{ deps }}</td>
  </tr>
{% endblock %}

{% block resolve %}
  <tr bgcolor="{{ bg_color }}">
    <td>{{ resolution }}</td>
  </tr>
{% endblock %}

{% block submit %}
{{ goback|raw }}
{% endblock %}

{% block app_footer %}
  </tbody>
  <tr class="th">
    <td colspan="5">{{ debug }} {{ lang('debug') }}</td>
    <td class="checkcell">
     <a href="javascript:check_all('install')"><img src="../src/modules/phpgwapi/templates/base/images/{{ check }}" title="{{ install_all }}" alt="{{ install_all }}"></a>
    </td>
    <td class="checkcell">
     <a href="javascript:check_all('upgrade')"><img src="../src/modules/phpgwapi/templates/base/images/{{ check }}" title="{{ upgrade_all }}" alt="{{ upgrade_all }}"></a>
    </td>
    <td>&nbsp;</td>
    <td class="checkcell">
      <a href="javascript:check_all('remove')"><img src="../src/modules/phpgwapi/templates/base/images/{{ check }}" title="{{ remove_all }}" alt="{{ remove_all }}"></a>
    </td>
  </tr>
</table>
<div class="button_group">
     <input type="submit" name="submit" value="{{ submit }}">
     <input type="submit" name="cancel" value="{{ cancel }}">
</div>
</form>
{% endblock %}

{% block footer %}
	{{ footer_text|raw }}
	<div class="banner"> </div>
</div>
{% endblock %}
