{% extends layout|default('@views/_layout.twig') %}

{% block title %}{{ lang('Documents') }}{% endblock %}

{% block styles %}
<link href="{{ modules_url }}/phpgwapi/js/DataTables2/datatables.min.css" rel="stylesheet">
<style>{{ source('@views/documents/list/document_list.css') }}</style>
{% endblock %}

{% block content %}
<div class="document-list">
	{% if can_create %}
	<div class="document-list__toolbar">
		<a href="{{ phpgw_link('/index.php', {menuaction: 'booking.uidocument_building.add'}) }}" class="ds-button">
			{{ lang('add document') }}
		</a>
	</div>
	{% endif %}

	<div id="alert-success" class="app-alert app-alert--success is-hidden"></div>
	<div id="alert-error" class="app-alert app-alert--danger is-hidden"></div>

	<table id="document-table" class="ds-table" data-zebra data-hover data-border>
		<thead>
			<tr>
				<th>{{ lang('Document') }}</th>
				<th>{{ lang('Building') }}</th>
				<th>{{ lang('Description') }}</th>
				<th>{{ lang('Category') }}</th>
				<th></th>
			</tr>
		</thead>
	</table>
</div>
{% endblock %}

{% block scripts %}
<script>
	window.__documentList = {
		canWrite: {{ can_write ? 'true' : 'false' }},
		canDelete: {{ can_delete ? 'true' : 'false' }},
		lang: {
			document: '{{ lang("Document")|e('js') }}',
			building: '{{ lang("Building")|e('js') }}',
			description: '{{ lang("Description")|e('js') }}',
			category: '{{ lang("Category")|e('js') }}',
			edit: '{{ lang("Edit")|e('js') }}',
			delete: '{{ lang("Delete")|e('js') }}',
			confirmDelete: '{{ lang("Are you sure you want to delete?")|e('js') }}',
			deleted: '{{ lang("Document deleted")|e('js') }}',
			search: '{{ lang("Search")|e('js') }}',
			emptyTable: '{{ lang("No documents found")|e('js') }}',
			info: '{{ lang("Showing _START_ to _END_ of _TOTAL_ entries")|e('js') }}',
			infoEmpty: '{{ lang("No entries to show")|e('js') }}',
			lengthMenu: '{{ lang("Show _MENU_ entries")|e('js') }}',
			first: '{{ lang("First")|e('js') }}',
			last: '{{ lang("Last")|e('js') }}',
			next: '{{ lang("Next")|e('js') }}',
			previous: '{{ lang("Previous")|e('js') }}'
		}
	};
</script>
<script src="{{ modules_url }}/phpgwapi/js/DataTables2/datatables.min.js"></script>
<script>{{ source('@views/documents/list/document_list.js') }}</script>
{% endblock %}
