{# View template #}
<!-- $Id$ -->
<p>&nbsp;&nbsp;&nbsp;<b>{{ lang('todo_action') }}</b><br>
<hr noshade width="98%" align="center" size="1">
<center>
{{ error }}
<table width="90%" border="0" cellspacing="0" cellpadding="2">
	<tr bgcolor="{{ row_on }}">
		<td>{{ lang('title') }}:</td>
		<td>{{ value_title|raw }}</td>
	</tr>
	<tr bgcolor="{{ row_off }}">
		<td valign="top">{{ lang('descr') }}:</td>
		<td>{{ value_descr|raw }}</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr bgcolor="{{ row_on }}">
		<td>{{ lang('parent') }}:</td>
		<td>{{ value_parent|raw }}</td>
	</tr>
	<tr bgcolor="{{ row_off }}">
		<td>{{ lang('category') }}:</td>
		<td>{{ value_category|raw }}</td>
	</tr>
	<tr bgcolor="{{ row_on }}">
		<td>{{ lang('owner') }}:</td>
		<td>{{ owner }}</td>
	</tr>
	<tr bgcolor="{{ row_off }}">
		<td valign="top">{{ lang('assigned') }}:</td>
		<td>{{ assigned }}</td>
	</tr>
	<tr bgcolor="{{ row_on }}">
		<td>{{ lang('access') }}:</td>
		<td>{{ access }}</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr bgcolor="{{ row_off }}">
		<td>{{ lang('start_date') }}:</td>
		<td>{{ value_start_date|raw }}</td>
	</tr>
	<tr bgcolor="{{ row_on }}">
		<td>{{ lang('end_date') }}:</td>
		<td>{{ value_end_date|raw }}</td>
	</tr>
	<tr bgcolor="{{ row_off }}">
		<td>{{ lang('completed') }}:</td>
		<td>{{ value_completed|raw }} %</td>
	</tr>
	<tr bgcolor="{{ row_on }}">
		<td>{{ lang('urgency') }}:</td>
		<td>{{ value_urgency|raw }}</td>
	</tr>
	<tr>
		<td align="left">{{ button_edit }}</td>
		<td align="center">{{ button_done }}</td>
		<td align="right">{{ button_delete }}</td>
	</tr>
</table>
<p>
{{ history }}
<table width="90%" border="0" cellspacing="2" cellpadding="2">
	<tr>
		<td height="50">
			<form method="POST" action="{{ done_action }}">
			<input type="submit" name="done" value="{{ lang('done') }}">
			</form></td>
	</tr>
</table>
