{# Preference_acl_row template #}
<!-- $Id$ -->
<tr class="{{ row_class }}">
		<td>{{ user }}</td>
		<td align="center"><input type="checkbox" name="{{ read }}" value="Y"{{ read_selected|raw }}></td>
		<td align="center"><input type="checkbox" name="{{ add }}" value="Y"{{ add_selected|raw }}></td>
		<td align="center"><input type="checkbox" name="{{ edit }}" value="Y"{{ edit_selected|raw }}></td>
		<td align="center"><input type="checkbox" name="{{ delete }}" value="Y"{{ delete_selected|raw }}></td>
		<td align="center"><input type="checkbox" name="{{ private }}" value="Y"{{ private_selected|raw }}></td>
</tr>
