{# History_list template #}
{% block row_no_history %}
	<tr class="row_on">
		<td align="center" colspan="5">{{ lang('no_history') }}</td>
	</tr>
{% endblock %}

{% block row %}
	<tr class="tr_class">
		<td>&nbsp;{{ row_date }}</td>
		<td>&nbsp;{{ row_owner }}</td>
		<td>&nbsp;{{ row_status }}</td>
		<td>&nbsp;{{ row_old_value|raw }}</td>
		<td>&nbsp;{{ row_new_value|raw }}</td>
	</tr>
{% endblock %}

{% block list %}
<table border="0" width="95%">
	<thead>
		<tr>
			<th>{{ sort_date }}</th>
			<th>{{ sort_owner }}</th>
			<th>{{ sort_status }}</th>
			<th>{{ sort_old_value|raw }}</th>
			<th>{{ sort_new_value|raw }}</th>
		</tr>
	</thead>
	<tbody>
		{{ rows|raw }}
	</tbody>
</table>
{% endblock %}
